body {
  background-color: rgb(253, 251, 251);

}

#cabecalho {
  /* position: fixed; */
  top: 0;
  /* border: 4px solid black; */
  height: 70px;
  margin: 0;
  background-color: green;
}

#cabecalho h1 {
  text-align: center;
}

#minha_foto {
  width: 200px;
  padding: 20px;
  margin-top: 20px;
}

#licoes_a_aprender,
#licoes_aprendidas {
  display: inline-block;
}

a {
  display: block;
}

article {
  width: 40%;
}

aside {
  display: inline-block;
  width: 300px;
  border: 4px solid rgb(31, 28, 28);
  background-color: green;
  position: absolute;
  left: 320px;
  top: 160px;
}

aside p {
  text-align: center;
}

#rodape {
  /* border: 4px solid black; */
  margin: 0px;
  margin-top: 40px;
}

#tabela {
    margin-top: 2em;
    position: absolute;
    left: 450px;
    bottom: 400px;
}

#tabela th, td {
    border: 4px solid rgb(17, 16, 16);
}
