body {
  background-color: rgb(253, 251, 251);
  font-size: 18px;
}

#cabecalho {
  position: fixed;
  top: 0;
  border: 4px solid black;
  width: 100%;
  margin: 0;
  background-color: green;
}

#cabecalho h1 {
  text-align: center;
}

#minha_foto {
  width: 200px;
  padding: 30px;
  margin-top: 65px;
}

#licoes_a_aprender , 
#licoes_aprendidas {
  display: inline-block;
  font-family: Georgia, Times, serif;
}

a {
  display: block;
  width: fit-content;
}

.lado-esquerdo {
  width: 30%;
  display: inline-block;
  margin-left: 60px;
}

.lado-direito {
  display: inline-block;
  width: 300px;
  border: 4px solid rgb(31, 28, 28);
  background-color: green;
  color: white;
  line-height: 30px;
  margin-left: 20px;
}

aside p {
  text-align: center;
}

#rodape {
  border: 4px solid black;
  margin-top: 50px;
  margin-left: 0;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

#tabela {
  background-color: green;
  text-align: center;
  color: white;
  position: absolute;
  font-weight: 600;
  left: 450px;
  bottom: 500px;
}

#tabela th , 
td {
  border: 4px solid rgb(17, 16, 16);
}
